body {
    background-color: rgb(31, 31, 30);
}

div {
    margin: auto;
    width: 600px;
    font-family: 'Playfair Display', Arial;
    color: rgb(255, 245, 199);
}

a:link, a:visited{
    color: rgb(255, 245, 199);
}

a:hover{
    color:pink;
}

.header{
    
    color: rgb(31, 31, 30);
    background-color: rgb(255, 245, 199);
    padding: 5px 10px;
    font-size: 30px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
}

.header2{
    width: 200px;
    font-size: 25px;
    font-weight: 800;
    margin: auto;
    text-align: center;
}

.list{
    font-size: 15px;
}