body {
    background-color: rgb(31, 31, 30);
}

div {

    margin: auto;
    width: 617px;
    font-family: 'Playfair Display', Arial;
    color: rgb(255, 245, 199);
}

a:link, a:visited{
    color: rgb(255, 245, 199);
}

a:hover{
    color:pink;
}

.header{
    
    color: rgb(31, 31, 30);
    background-color: rgb(255, 245, 199);
    padding: 5px 10px;
    font-size: 30px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
    
}

.list{
    height: 100px;
    background-color: black;
    padding: 50px;
    font-size: 18px;
    font-weight: 100px;
    margin-top: 1px;
    
}